body {
    margin: 0px;
    padding: 60px 0px 20px 0px;
    color: #000000;
    background: #FFFFFF;
    font-family: 'Roboto', serif;
    font-size: 13px;
    line-height: 13px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    height: 150px;
    width: 150px;
    margin: 0px auto;
    padding: 0px;
    border: solid 1px #DFDCDA;
    border-radius: 110px;
    background: #F5F2F0;
}
h1 {
    display: block;
    max-width: 1000px;
    margin: 20px auto 0px auto;
    padding: 0px 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
h2 {
    display: block;
    max-width: 1000px;
    margin: 60px auto 10px auto;
    padding: 0px 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: left;
}
p {
    display: block;
    max-width: 1000px;
    margin: 10px auto 10px auto;
    padding: 0px 20px;
    font-size: 16px;
    text-align: center;
}
pre {
    margin: 0px !important;
    padding: 0px !important;
    border-top: solid 1px #DFDCDA;
    border-bottom: solid 1px #DFDCDA;
    font-family: 'Source Code Pro', monospace !important;
    overflow: hidden;
}
code {
    display: block;
    max-width: 1000px;
    margin: 0px auto 0px auto;
    padding: 0px 20px;
    overflow: hidden;
    overflow-x: auto;
}
dl {
    display: none;
    margin: 0px;
    padding: 0px;
}
dt {
    margin: 10px 0px 3px 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
dd {
    margin: 0px;
    padding: 0px 0px 3px 0px;
}
dd span {
    font-style: italic;
}
footer {
    display: block;
    max-width: 1000px;
    margin: 60px auto 10px auto;
    padding: 0px 20px;
    font-size: 16px;
    text-align: center;
}
footer a {
    color: #0077AA;
}
